service: PortfolioServerless

# https://www.serverless.com/framework/docs/providers/aws/events/apigateway/#example-lambda-proxy-event-default

#provider: aws
provider:
  name: aws
  stage: test
  region: eu-central-1
  lambdaHashingVersion: "20201221" # optimize resolution of lambda function (and avoid warning)

#package:
#  individually: true

functions:
  portfolio: # any name
    handler: Learning::Learning.Portfolio.CreateFund::Handle   # assembly::namespace.class::method
    package:
      artifact: src/publish/lambda.zip
    #warmup: true
    #alarms:
    #   - functionErrors
    #   - functionDuration
    events:
      # - http: GET fund
      - http: 
          path: portfolio/fund
          method: POST
        # cors: true
        #authorizer:
        #  type: "COGNITO_USER_POOLS"
        #  scopes: 
        #    - ...
        #    - ... 
        #  authorizedId:
        #    Fn::ImportValue: "..."



