name: Portfolio deploy master

on: 
  push:
    branches: 
    - main


jobs:

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Create datetime output
      id: datetime
      run: | 
        echo "::set-output name=date::$(date +'%Y-%m-%d')"
        echo "::set-output name=datetime::$(date +'%Y-%m-%d_%H-%M-%S')"

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with: 
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
        aws-secret-access-key: ${{ secrets.AWS_ACCESS_KEY_SECRET }}
        aws-region: eu-central-1

    - name: Build C# Lambda & upload to S3
      env: 
        S3_BUCKET: "learning.functions"
        #ZIP_FILE: "function.zip"
        ZIP_FILE: "function-${{steps.datetime.outputs.datetime}}.zip"
      run: |
        cd src
        dotnet build -c RELEASE
        # ls ./bin
        # zip could need -recursive
        echo date = ${{ steps.datetime.outputs.date }}
        echo datetime = ${{ steps.datetime.outputs.datetime }}
        echo ZIP_FILE_DATE = ${ZIP_FILE} ${{ZIP_FILE}}
        zip -r ${ZIP_FILE} ./bin
        echo S3 bucket = ${S3_BUCKET}
        echo aws s3 cp ./${ZIP_FILE} s3://${S3_BUCKET}
        aws s3 cp ./${ZIP_FILE} s3://${S3_BUCKET}

# TEMP COMMENT
#    - name: Serverless deploy
#      uses: serverless/github-action@master
#      with: 
#        args: deploy
##      env: 
##        AWS_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY }}

